.logo {
    float: left;
    position: relative;
    width: 150px;
    padding: 1.75em;
}

.navbar {
    display: flex;
}

a:first-child {
    margin-right: auto;
}

nav {
    padding: 2em;
    float: right;
}

nav a {
    text-decoration: none;
}

nav a:visited, a:link {
    color: white;
}

nav a.active {
    color: #14D9D9;
}