@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
/* Master Styles */

#root {
  width: 100%;
  height: 100%;
}

h1 {
  color: #14D9D9;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

p {
  color: #fff;
  font-family: 'Montserrat', Arial, Helvetica;
}

body {
  background-color: #44158F;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

input[text], button {
  color: #888;
  font-family: 'Montserrat', Georgia;
}

button {
  font-family: 'Montserrat', Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

label {
  padding-right: 0.5em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 0.75em;
  height: 3rem;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

/* navbar */
.logo {
  float: left;
  position: relative;
  width: 150px;
  padding: 1.75em;
}

.navbar {
  display: flex;
}

.docs-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

a:first-child {
  margin-right: auto;
}

a {
  transition: ease 0.25s;
}

nav {
  padding: 2em;
  float: right;
}

nav a {
  text-decoration: none;
}

nav a:visited, a:link {
  color: white;
}

nav a:hover {
  color: #14D9D9;
}

nav a.active {
  color: #14D9D9;
}

/* everywhere else */

* {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: #44158F;
}